<section id="Projects" class="ofertas">
    <div class="container">
        <h2>Project</h2>
    
        <div class="espaco-produtos">
            <div class="cardnews">
                <img src="assets/img/desenvolver.png" alt="Foto de um computador">
                <div class="texto-card">
                    <h3>Web</h3>
                    <p>Descrição do jogo do ano.</p>
                    <a href="web.component.html">Read More</a>

                </div>
            </div>
            <div class="cardnews">
                <img src="assets/img/controle-de-video-game.png" alt="Foto de controle de video game">
                <div class="texto-card">
                    <h3>Game/ Gamifications</h3>
                    <p>Descrição do jogo do ano.</p>
                    <a href="games.component.html">Read More</a>

                </div>
            </div>

            <div class="cardnews">
                <img src="assets/img/oculos-vr.png" alt="Foto de um oculos de realidade virtual">
                <div class="texto-card">
                    <h3>VR/ AR/ MR</h3>
                    <p>Descrição do jogo do ano.</p>
                    <a href="web.component.html">Read More</a>

                </div>
            </div>
            
          
        </div>
    </div>
</section>
