<header>
    <div class="container cabecalho">
        <a href="index.html"><img class="logo" src="/assets/img/logo.svg" alt="Logo do site E-Players"></a>
        <nav id="menu" class="menu">
            <a routerLink="#home">Home</a>
            <a href="#About">About</a>
            <a href="#TypesProjects">TypesProject</a>
            <a href="#Projects">Project</a>

            <a href="#">Contact</a>
        </nav>
        <a href="#" id="barras"><img class="icone-menu" src="assets/img/bars.svg" alt="Ícone do menu de barras"></a>
    </div>
</header>