<main>
    <section  class="banner banner-f1">
        <div class="container posicionamento-banner">
            <div class="conteudo-banner">
                <h1>Fabricio minowa</h1>
                <a href="assets/img/Currículo.docx">CV</a>
            </div>
        </div>

    </section>
    
    <section id="TypesProjects" class="ofertas">
        <div class="container">
            <h2>Gallery Porjects</h2>
            <div class="espaco-produtos">
                <div class="cardnews">
                    <img src="assets/img/desenvolver.png" alt="Foto de um computador">
                    <div class="texto-card">
                        <h3>Web</h3>
                        <p>HTML,CSS, JS AND Angular</p>
                        <a routerLink="web">Read More</a>

                    </div>
                </div>
                <div class="cardnews">
                    <img src="assets/img/controle-de-video-game.png" alt="Foto de controle de video game">
                    <div class="texto-card">
                        <h3>Game/ Gamifications</h3>
                        <p>Unity, Unreal and C#</p>
                        <a routerLink="games">Read More</a>

                    </div>
                </div>

                <div class="cardnews">
                    <img src="assets/img/oculos-vr.png" alt="icone de oculos de realidade virtual">
                    <div class="texto-card">
                        <h3>VR/ AR/ MR</h3>
                        <p>Unity, Unreal and C#</p>
                        <a routerLink="vr">ooo</a>

                    </div>
                </div>
             
              
            </div>
        </div>
    </section>
   
    





        
    
</main>