<section id="About" class="secao-sobre">
    <div class="container conteudo-sobre">
        <img src="assets/img/avatar.png" alt="Imagem do avatar">

        <div class="texto-sobre">
            <h2>WHO AM I</h2>
            <p>I am Fabrício, a seasoned Front-End Developer and Programming Instructor. With certifications in game development, virtual and augmented reality platforms, as well as Microsoft PL-900 and AI-900, I've been actively engaged in the field since 2019. My diverse experiences include crafting captivating digital game interfaces, creating engaging educational content, and designing experiences for the metaverse. Fluent in English (B2 level) and experienced in collaborating across teams, I excel in delivering seamless user experiences. Let's connect via LinkedIn or email (fabriciominowa12@gmail.com) to explore innovative collaborations.</p>
            <p>Sou o Fabrício, um experiente Desenvolvedor Front-End e Instrutor de Programação. Com certificações em desenvolvimento de jogos, plataformas de realidade virtual e aumentada, além das certificações Microsoft PL-900 e AI-900, estou ativamente envolvido no campo desde 2019. Minhas experiências diversas incluem criar interfaces envolventes para jogos digitais, criar conteúdo educacional cativante e projetar experiências para o metaverso. Fluente em inglês (nível B2) e com experiência em colaborar com equipes, tenho destaque na entrega de experiências de usuário perfeitas. Vamos nos conectar via LinkedIn ou e-mail (fabriciominowa12@gmail.com) para explorar colaborações inovadoras.</p>
      
            <div class="siga-nos">
                <a href="#"><img src="assets/img/logo-instagram.png" alt="Logo do Instagram"></a>
                <a href="https://github.com/fabriciominowa"><img src="assets/img/github.png" alt="Logo do Github"></a>
                <a href="https://www.linkedin.com/in/fabr%C3%ADciomoraesminowa/"><img src="assets/img/in.png" alt="Logo do Linkedin"></a>

            </div>
        </div>
    </div>
   
</section>
<section class="jogos">
    <div class="container posicionamento-jogos">

        <img src="assets/img/HTML.png"  alt="Logo da HTML">
        <img src="assets/img/CSS.png" alt="Logo do Css">
        <img src="assets/img/JS.png" alt="Logo do JavaScriptS">
        <img src="assets/img/TS.png" alt="Logo do TypeScriptS">

        <img src="assets/img/angular.png" alt="Logo do AngularS">
        <img src="assets/img/csharp.png" alt="Logo do Csharp">
        <img src="assets/img/unity.png" alt="Logo do Unity">
        <img src="assets/img/Unreal.png" alt="Logo do Unreal">
    </div>
</section>