<footer>
    <div class="container rodape">
        <div class="links-footer">
            
            <div>
                <h2>Pages</h2>
                <ul>
                    <li>   <a routerLink="#home">Home</a></li>
                    <li> <a href="#About">About</a></li>
                    <li> <a href="#TypesProjects">TypesProject</a></li>
                    <li><a href="#projects">Projects</a></li>
                    <li> <a href="#">Contact</a>

                    </li>
                </ul>
            </div>
        </div>
        <img class="logo-rodape" src="assets/img/logo.svg" alt="Logo Cyberspace">
       
    </div>
</footer>